In [3]:
# üõçÔ∏è Shopper Spectrum Project
## Phase 1 & 2: Environment Setup, Data Loading & Preprocessing
'''
This notebook contains the initial steps of the project, including:
- Package installation confirmation
- Loading the dataset
- Cleaning and preprocessing
'''

'\nThis notebook contains the initial steps of the project, including:\n- Package installation confirmation\n- Loading the dataset\n- Cleaning and preprocessing\n'

In [6]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# Load Dataset
# Define path to the dataset
data_path = "../data/online_retail.csv"  # ‚úÖ Use relative path

# Load dataset
df = pd.read_csv(data_path, encoding='ISO-8859-1')

# Check shape and preview
print("Original Data Shape:", df.shape)
df.head()

Original Data Shape: (541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2022-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2022-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom

In [15]:
# Drop Missing Customer IDs
# Drop rows with missing CustomerID
df.dropna(subset=['CustomerID'], inplace=True)

print("After Dropping Missing CustomerIDs:", df.shape)

After Dropping Missing CustomerIDs: (406829, 8)

In [16]:
# Remove Cancelled Invoices
# Remove rows where InvoiceNo starts with 'C' (Cancelled)
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]

print("After Removing Cancelled Invoices:", df.shape)

After Removing Cancelled Invoices: (397924, 8)

In [17]:
# Remove Invalid Quantity & Price
# Keep only positive Quantity and UnitPrice
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]

print("After Removing Invalid Quantities and Prices:", df.shape)

After Removing Invalid Quantities and Prices: (397884, 8)

In [18]:
# Add TotalPrice Column
# Add TotalPrice = Quantity * UnitPrice
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
df.reset_index(drop=True, inplace=True)

df[['Quantity', 'UnitPrice', 'TotalPrice']].head()

   Quantity  UnitPrice  TotalPrice
0         6       2.55       15.30
1         6       3.39       20.34
2         8       2.75       22.00
3         6       3.39       20.34
4         6       3.39       20.34

In [19]:
# Save cleaned dataset for future use
cleaned_path = "../data/cleaned_online_retail.csv" 
df.to_csv(cleaned_path, index=False)
print("Cleaned data saved to:", cleaned_path)

Cleaned data saved to: ../data/cleaned_online_retail.csv

In [20]:
'''
Summary :
- Data loaded and cleaned successfully.
- Missing values and invalid entries removed.
- Cancelled invoices excluded.
- `TotalPrice` column added.
- Cleaned data saved for further steps.
'''

'\nSummary :\n- Data loaded and cleaned successfully.\n- Missing values and invalid entries removed.\n- Cancelled invoices excluded.\n- `TotalPrice` column added.\n- Cleaned data saved for further steps.\n'